html
  head
    title This is WAD on NODE
    link(href='app.css', rel='stylesheet', type='text/css')
  body
    .header
      .imhold
        img#theLogo.logoIm(alt='logo', src='logo.png')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='#') Add New Product
    .row
      .holder
        .large
          h1 Running
          h2 Accesories
        .normal
          h1 Swimming
          h2 Accesories
        .normal2
          h1 Cycling
          h2 Accesories
    .footer
      p Node JS App developed by WAD geek