doctype html
html
  head
    title This is WAD on NODE
    link(href='app.css', rel='stylesheet', type='text/css')
  body
    .header
      .imhold
        img#theLogo.logoIm(alt='logo', src='logo.png')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='#') Add New Product
    .row
      .holder
        h1 I'm the products page
    .footer
      p Node JS App developed by WAD geek
