<!DOCTYPE html>
<html>
<head>
    <title>This is WAD on NODE</title>
    <link href="app.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="header">
        <div class="imhold">
            <img alt="logo" id="theLogo" class="logoIm" src="logo.png">
        </div>
        <div class="navhold">
            <div class="topnav">
                <a href="/">Home</a>
                <a href="/products.html">Products</a>
                <a href="#">Add New Product</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="holder">
            <h1>I'm the products page</h1>
        </div>
    </div>

    <div class="footer">
        <p>Node JS App developed by WAD geek</p>
    </div>



</body>
</html>